html {
    background-color: #F2FCF7;
}

#logo {
    width: 80px;
}

h1 {
    font-family: 'Playfair Display', 'serif';
    text-align: center;

    font-size: 48pt;

    color: #333333;
}

h2 {
    font-family: 'Poppins', 'sans-serif';
    text-align: center;

    color: #333333;
}

h3 {
    color: #FCFCFC;
}

h4 {
    font-weight: 400;
    color: #FCFCFC;
}

h5 {
    font-family: 'Poppins', 'sans-seif';
    font-size: 16pt;
    margin: 0;
    color: #333333;
}

h6 {
    font-family: 'Poppins', 'sans-serif';
    font-size: 12pt;
    color: #333333;
    
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

a {
    font-family: 'Playfair-Display', 'serif';
    font-size: 16pt;
    font-weight: 600;

    padding: 5px 20px;
    text-decoration: none;
    color: #333333;
}

#hello {
    margin-top: 100px;

    color: #333333;
}

#about {
    font-weight: 400;
    font-size: 16pt;
    margin-top: 50px;
}

#intro-container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#airplane-img {
    width: 800px;
    margin-top: -150px;
}

.currently {
    background-color: #60C0b4;
    color: #FFFFFF;

    font-family: 'Poppins', 'sans-serif';
    padding: 5px 20px;

    border-radius: 20px;
    margin: 50px auto;
    
    width: 60%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px auto;
}

#nav-emphasis {
    background-color: #60C0b4;
    border-radius: 20px;
    font-weight: 600;

    color: #FFFFFF;
}

.nav-item {
    padding: 5px 20px;
    text-align: center;
}

.nav-item:hover {
    background-color: #60c0b544;
    border-radius: 20px;
    font-weight: 600;

    cursor: pointer;
}

.projects-container {
    width: 100%;
    display: grid;

    grid-gap: 20px 20px;
    grid-template-columns: repeat(auto-fit, 450px);

    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 20px auto;
    margin-bottom: 50px;
}

.project {
    width: 450px;
    background-color: #FFFFFF;
    text-align: center;

    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 5px;
}

.proj-title {
    padding: 10px 0 10px 0;
    margin-left: 20px;
}

.banner-container {
    display: flex;
    justify-content: center;
}

.proj-banner {
    width: 400px;
    margin: 5px auto;

    border-radius: 10px;
    
}

.proj-blurb {
    font-family: 'Poppins', 'sans-seif';
    font-size: 12pt;
    font-style: italic;
}

.proj-button {
    font-family: 'Playfair Display', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;

    padding: 5px 15px;
    margin: 10px auto 20px auto;
    border-radius: 20px;
}

#atdev {
    color: #333333;
    border: 2px solid #333333;
}

#atdev:hover {
    background-color: #E4F1FF;
    border: 2px solid  #E4F1FF;
    color: #333333;
}

#kingpin {
    color: #E9BAC8;
    border: 2px solid #E9BAC8;
}

#kingpin:hover {
    background-color: #E9BAC8;
    color: #FCFCFC;
}

#vermi {
    color: #789C8A;
    border: 2px solid #789C8A;
}

#vermi:hover {
    background-color: #789C8A;
    color: #FCFCFC;
}

#qcubed {
    color: #DFD6F3;
    border: 2px solid #DFD6F3;
}

#qcubed:hover {
    background-color: #DFD6F3;
    color: #333333;
}

#contact-form {
    width: 600px;
    background-color: #60C0b4;
    text-align: center;

    padding: 20px;
    border-radius: 20px;

    margin: 10px auto;
    margin-bottom: 50px;

    color: #FCFCFC;
    font-family: 'Poppins', 'Sans-Serif';
    font-size: 12pt;
}

input, button {
    border-style: solid;
    border-width: 1.5px;
    border-color: #22534d;
    
    font-family: 'Poppins', 'Sans-Serif';
    font-size: 12pt;

    border-radius: 5px;
}

.social-media-container * {
    background-color: #60C0b4;
    font-family: 'Poppins', 'Sans-Serif';
    font-size: 16pt;
    color: #FCFCFC;
    border-radius: 10px;

    text-align: center;
    margin: 0px 10px;
}

.social-media-container {
    margin: 0px auto;
    width: 800px;

    text-align: center;
}

.social-media:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}